@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model Dictionary<string, object[]>


<div>
  <h1>recipes!</h1>
</div>
<div>
  <h2>check these out</h2>

  @if (Model["recipes"].Length == 0)
  {
    <h3>No Recipes!</h3>
  }
  else
  {

    <p>@Html.ActionLink("go to recipes", "Index", "Recipe")</p>
    <p>@Html.ActionLink("go to cuisines", "Index", "Cuisine")</p>

  }


</div>